
@{
    ViewBag.Title = "_adminlayout";
}

<head>
    <title>DTH Company</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Modern Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Bootstrap Core CSS -->
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel='stylesheet' type='text/css' />
    <!-- Custom CSS -->
    <link href="@Url.Content("~/Content/styleAdmin.css")" rel='stylesheet' type='text/css' />
    <!-- Graph CSS -->
    <link href="@Url.Content("~/Content/lines.css")" rel='stylesheet' type='text/css' />
    <link href="@Url.Content("~/Content/font-awesome.css")" rel="stylesheet">
    <!-- jQuery -->
    <script src="@Url.Content("~/Scripts/jquery.min.js")"></script>
    <!----webfonts--->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
    <!---//webfonts--->
    <!-- Nav CSS -->
    <link href="@Url.Content("~/Content/custom.css")" rel="stylesheet">
    <!-- Metis Menu Plugin JavaScript -->
    <script src="@Url.Content("~/Scripts/metisMenu.min.js")"></script>
    <script src="@Url.Content("~/Scripts/custom.js")"></script>
    <!-- Graph JavaScript -->
    <script src="@Url.Content("~/Scripts/d3.v3.js")"></script>
    <script src="@Url.Content("~/Scripts/rickshaw.js")"></script>
</head>
<body>
    @RenderBody()
</body>

