@model Database.DnD

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DnD</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DnDname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DnDname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.payment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.payment)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DnDId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
